<% content_for :title, "Questions" %>
<div class="">
  <div class="flex justify-between items-center">
    <%= render 'shared/page_header', title: 'Questions', subtitle: 'Answers generated from the documents.' %>
    <%= render partial: 'shared/button_group', locals: { buttons: { "Ask" => new_question_path } } %>
  </div>
  <%= paginate @questions %>
  <%= render 'question_list',  questions: @questions %>
</div>