<% content_for :title, "Ask" %>

<div>
  <p style="color: green"><%= notice %></p>
</div>
<h1 class="font-bold text-3xl text-sky-800">What Would You Like to Know?</h1>
<div class="rounded-lg shadow-lg mt-2 p-4 mx-auto w-full border border-stone-200">
  <%= render "form", question: @question %>
</div>
<div class="mt-4">
  <turbo-frame id="questions_list">
    <turbo-frame id="question_show">
    </turbo-frame>
    <h2 class="text-2xl text-stone-500 mt-2">Recent Questions</h2>
    <%= render 'question_list',  questions: Question.all.order(created_at: :desc).limit(5) %>
  </turbo-frame>
</div>
