<div>
  <p style="color: green"><%= notice %></p>
</div>
<h1 class="font-bold text-3xl text-sky-800">Ask a Question</h1>
<div class="rounded-lg shadow-lg p-4 mx-auto w-full ">
  <!-- Chat input field goes here -->
  <%= render "form", question: @question %>
</div>
<div id="loadingIndicator" class="flex my-6 invisible">
  <div class="animate-pulse bg-sky-900 dark:bg-slate-800 p-2 w-100 h-10 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-sky-500">
      <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
    </svg>
    <span class="ml-1 font-semibold text-stone-200 text-sm">Generating Answer...</span>
  </div>
</div>
<script>
  document.addEventListener('turbo:before-fetch-request', function() {
    document.getElementById('loadingIndicator').classList.remove('invisible');
  });

  document.addEventListener('turbo:submit-end', function() {
    document.getElementById('loadingIndicator').classList.add('invisible');
  });
</script>
<turbo-frame id="questions_list">
  <h2 class="text-2xl test-stone-500">Recent Questions</h2>
  <%= render 'question_list',  questions: Question.all.order(created_at: :desc).limit(5) %>
</turbo-frame>
