<%= link_to path, class: "block border-b border-gray-200 p-3 last:border-0 hover:bg-stone-50 hover:text-sky-500  transition-colors duration-150 -mx-6 px-6" do %>
  <p class="font-medium ">
    <%= title %>
  </p>
  <p class="text-xs text-gray-500 mt-1"><%= subtitle %></p>
<% end %> 