<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Chat:</strong>
    <%= message.chat_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= message.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">From:</strong>
    <%= message.from %>
  </p>

</div>
