<div id="<%= dom_id message %>">
  <div class="p-3 my-5 ounded bg-stone-200">
    Status: <%= message.status %>
    <p class="">
      <%= render_markdown(message.content) if message.content.present? %>
    </p>
  </div>
</div>
