<!-- app/views/messages/index.html.erb -->
<turbo-frame id="messages-<%=@chat.id%>">
  <div id="messages-list">
    <% @messages.each do |message| %>
      <%= render partial: 'messages/message', locals: { message: message } %>
    <% end %>
  </div>
</turbo-frame>
