<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render partial: 'shared/breadcrumb', locals: { breadcrumbs: [['Home', root_path], [@chat.assistant.name, assistant_path(@chat.assistant)], ['Chat', @chat], ['Message', nil]] } %>

    <%= render @message %>
  </div>
</div>
