#GUSINFO:FALSE,[{"node":{"name":"Ruby"},"size":107093},{"node":{"name":"Procfile"},"size":87},{"node":{"name":"JavaScript"},"size":1817},{"node":{"name":"CSS"},"size":866},{"node":{"name":"HTML"},"size":55637},{"node":{"name":"Shell"},"size":1271}]
*
# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source 5D002