<div id="<%= dom_id assistant %>">
  <p class="my-5">
    <%= link_to assistant.name, assistant %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User prompt:</strong>
    <%= assistant.user_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Llm prompt:</strong>
    <%= assistant.llm_prompt.truncate(1000) %>
  </p>

</div>
