<div class="inline-flex rounded-md shadow-sm" role="group">
  <% buttons.each_with_index do |(name, link), index| %>
    <%= link_to name, link, class: "border text-stone border-slate-800 py-3 px-5 bg-slate-600 text-slate-100 font-medium border #{'border-r-0' if index < buttons.size - 1 && buttons.size > 1} #{'rounded-l-lg' if index == 0} #{'rounded-r-lg' if index == buttons.size - 1} hover:bg-stone-900 hover:text-sky-300" %>
  <% end %>
</div>
