<div class="py-1 text-xs ">
  Owner <span class="font-bold "><%= email %> </span> |
  Created <span class="font-bold  "><%= time_ago_in_words(created_at) %> ago</span> |
  Updated <span class="font-bold  "><%= time_ago_in_words(updated_at) %> ago</span>
</div>
