<li>
  <a href="<%= path %>" class="<%= controller_name == active_controller ? 'text-sky-100 border-sky-100 bg-stone-800' : '' %> hover:border-sky-300 hover:text-sky-100 flex items-center mr-2 p-2">
    <%= svg_html.html_safe %>
    <%= label %>
  </a>
</li>
