<div class="header">
  <h1 class="font-bold text-4xl text-sky-700 border-l-8 border-sky-600 px-2"><%= title %></h1>
  <% if subtitle.present? %>
    <p class="subtitle text-gray-700 mt-2 text-sm"><%= subtitle %></p>
  <% end %>
</div>
