<div id="<%= dom_id webhook %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Secret key:</strong>
    <%= webhook.secret_key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assistant:</strong>
    <%= webhook.assistant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= webhook.hook_type %>
  </p>

</div>
