<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">New REST API Action</h2>
    </div>
  </div>

  <div class="mt-8">
    <%= render 'form', api_action: @api_action %>
  </div>
</div> 