<% content_for :title, @document.title %>

<%= render @document %>

<h2 class="text-2xl text-stone-500 mt-5">Related Questions (<%= @document.questions_count %>)
</h2>
<%= render 'shared/question_list', questions: @document.questions %>

<h2 class="text-2xl text-stone-500 mt-5">Related Documents
</h2>
<%= render 'shared/doc_list', docs: @related_docs %>
